<!DOCTYPE html>
<html>
<% include ../views/heades.ejs %>
<body>
<% include ../views/admin/index.ejs %>
<div>
    <div style="text-align:center; margin-top: -100px">
        <span class="dot" onclick="currentSlide(0)"></span>
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
        <span class="dot" onclick="currentSlide(11)"></span>
        <span class="dot" onclick="currentSlide(12)"></span>
        <span class="dot" onclick="currentSlide(13)"></span>
        <span class="dot" onclick="currentSlide(14)"></span>
        <span class="dot" onclick="currentSlide(15)"></span>
        <span class="dot" onclick="currentSlide(16)"></span>
    </div>
</div>
<div class="slideshow-container" style="margin-top: 50px">
    <div class="mySlides fade">
        <img src="https://image.freepik.com/free-vector/poster-hello-honey_8382-1439.jpg" style="width:90%">
        <div class="text" style="color: red"></div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/birthday.png"
             style="width:100%">
        <div class="text" style="color: red">Happy birthday my Love.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/vd1.JPG" style="width:100%">
        <div class="text" style="color: red">Linh à! Linh có nhớ không ?</div>
    </div>

    <div class="mySlides fade">
        <img src="	https://nhom1mp3.000webhostapp.com/public/images/banner/2.JPG" style="width:100%">
        <div class="text" style="color: red">Bình nhớ rõ ngày mà chúng mình thích nhau.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/vd5.JPG" style="width:100%">
        <div class="text" style="color: red"><p >Linh biết không?</p>
            <p>Hai đứa mình quen nhau bao lâu rồi không?</p></div>
    </div>

    <div class="mySlides fade">
        <img src="	https://nhom1mp3.000webhostapp.com/public/images/banner/vd6.JPG" style="width:100%">
        <div class="text" style="color: red">Cho đến bây giờ thời gian hai đúa không ngắn cũng không dài</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a1.JPG" style="width:100%">
        <div class="text" style="color: red">Mình biết nhau - Quen nhau - Yêu nhau.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a2.JPG" style="width:100%">
        <div class="text" style="color: red">Linh à ?</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a3.JPG" style="width:100%">
        <div class="text" style="color: red">Linh là người đầu tiên Bình tỏ tình.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a4.JPG" style="width:100%">
        <div class="text" style="color: red">
            <p>Bình yêu Linh - Thương Linh -Thích Linh.</p>
            <p>Và Bình thương Linh - Mến Linh - Muốn bên cạnh Linh.</p>
        </div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a5.JPG" style="width:100%">
        <div class="text" style="color: red">Linh biết không Bình nhớ Linh nhiều.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a6.JPG" style="width:100%">
        <div class="text" style="color: red">Bình muốn bên cạnh linh yêu thương chăm sóc Linh.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a7.JPG" style="width:100%">
        <div class="text" style="color: red">Bình yêu Linh nhiều.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a8.JPG" style="width:100%">
        <div class="text" style="color: red">Hai đứa cùng cố gắng nhé! Em Yêu.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a9.JPG" style="width:100%">
        <div class="text" style="color: red">Linh Sinh Nhật Vui Vẻ.</div>
    </div>

    <div class="mySlides fade">
        <img src="	https://nhom1mp3.000webhostapp.com/public/images/banner/a10.JPG" style="width:100%">
        <div class="text" style="color: red">Người yêu xinh gái rễ thương của anh.</div>
    </div>

    <div class="mySlides fade">
        <img src="https://nhom1mp3.000webhostapp.com/public/images/banner/a11.JPG" style="width:100%">
        <div class="text" style="color: red">I LOVE YOU</div>
    </div>

</div>
</body>
<script>
    //khai báo biến slideIndex đại diện cho slide hiện tại
    var slideIndex;

    // KHai bào hàm hiển thị slide
    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        slides[slideIndex].style.display = "block";
        dots[slideIndex].className += " active";
        //chuyển đến slide tiếp theo
        slideIndex++;
        //nếu đang ở slide cuối cùng thì chuyển về slide đầu
        if (slideIndex > slides.length - 1) {
            slideIndex = 0
        }
        //tự động chuyển đổi slide sau 5s
        setTimeout(showSlides, 8000);
    }

    //mặc định hiển thị slide đầu tiên
    showSlides(slideIndex = 0);


    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
</script>
</html>

